body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chatContainer {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 60%;
  border: 1px solid #ccc;
}
