body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  .chatContainer {
    display: flex;
    flex-direction: row; /* Make it a row instead of column */
    height: 50vh; 
    width: 70%;
    border: 1px solid #ccc;
  }